body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: black;
}

.header {
    background-color: black;
}

.header img {
    float: left;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #111;
}

.headingDescription {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 80px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.logo {
    height: 600px;
}

.footer {
    width: 100%;
    background: #F3F3F3;
    background-image: url('./img/mariansposter.jpg');
}

.bottomIconBar ul {
    float: left;
}

.pageContent {
    color: white;
}

.mariansPage {
    text-align: center;
    max-width: 1200px;
}

.mariansPosterContent {
    float: left;
}

.sponsors {
    float: right;
    border: #333 1px solid;
    min-width: 200px;
    max-width: 300px;
    text-align: center;
}

.sponsors img {
    display: block;
    margin: 0 auto;
    padding: 5px;
}

.silver .bronze .gold {
    clear: both;
    margin: 0 auto;
    min-width: 198px;
}

.sponsorHeader {
    background-color: #333;
}